<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SNapp.Properties.Settings.SPORTNUTRITIONConnectionString"
            connectionString="Data Source=EPRUSARW1148\SQLEXPRESS;Initial Catalog=SPORTNUTRITION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>